html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: sans-serif;
   
  
}

header {
    width: 100%;
    height: 500px;
    background: url(public/img/cats.jpg) no-repeat;
    background-size: 1500px 500px;
    background-color: black;
    
}

.contende {
    width: 100%;
    margin: 4em auto;
    line-height: 30px;
    text-align: justify;
}

.fixed {
    position: fixed;
    width: 100%;
}

.navbar {
    z-index: 2;
}


/* scholbar  tamanho  */

::-webkit-scrollbar {
    width: 9px;
}


/* coloraçao parte do meio */

 ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 145, 0);
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}

.luiz {
    border-style: double;
    border-color: dimgray;
}

.luiz1 {
    color: dimgrey;
}

.luizf {
    margin-left: 30px;
}

.luizjj {
    background-image: url(public/img/texturapreta.jpg);
}

.teste {
    margin-left: 6rem;
}

.junio {
    background-color: gray;
    border-width: 2px;
}

.luu {
    margin: 8px;
}


.list-group-item {


background-color: transparent;

}

.icone{

background-color: rgba(160, 151, 134, 0.548);
padding: 13px;
font-size: 45px;
border-radius: 100px;
margin-left: 2px;

}

.icone2{
    background-color: rgba(160, 151, 134, 0.548);
    padding: 10px;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 2px;
    margin-top: 5px;
    

}
.icone23{


    background-color: rgba(160, 151, 134, 0.548);
    padding: 10px;
    padding-right: 15px;
    padding-left:15px ;
    font-size: 40px;
    border-radius: 20px;
    



}
.icone21{
    background-color: rgba(160, 151, 134, 0.548);
    padding: 4px;
    padding-right: 1px;
    padding-left: 4px;
    font-size: 45px;
    border-radius: 100px;
    margin-left: 2px;
    margin-top: 5px;
    

}

.topo{


background-image: url(public/img/cats.jpg);
width: auto;
height: 500px;
position: absolute;
}




/* botao de subir ao topo */
#subirTopo {
    text-decoration: none;
    background: rgba(184, 139, 15, 0.9);
    bottom: 30px;
    right: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    }
    
    #subirTopo:hover {
    opacity:1;
    }
/* final */
    .carousel {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 90px 0;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      
      .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
      
      .carousel-inner > .item {
        position: relative;
        display: none;
        animation: 0.5s ease-in-out;
      }
      
      .carousel-inner > .active,
      .carousel-inner > .next {
        display: block;
      }
      
      .carousel-inner > .next {
        position: absolute;
        top: 0;
        width: 100%;
      }
      
      .carousel-inner > .to-left {
        animation-name: left;
      }
      
      .carousel-inner > .from-right {
        animation-name: right;
      }
      
      .carousel-inner > .to-right {
        animation-name: right;
        animation-direction: reverse;
      }
      
      .carousel-inner > .from-left {
        animation-name: left;
        animation-direction: reverse;
      }
      
      .container {
        margin: 0 auto;
      }
      
      blockquote {
        padding: 10px 20px;
        margin:  90px;
        font-size: 32px;
      }
      
      .author {
        margin: 0;
        opacity: 0.5;
      }
      
      .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        cursor: pointer;
      }
      
      .carousel-control.right {
        right: 0;
        left: auto;
      }
      
      .carousel-control > .arrow {
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=")
          center center no-repeat;
        background-size: 26px 20px;
        opacity: 0.6;
        transform: translateY(-50%);
      }
      
      .carousel-control > .arrow:hover {
        opacity: 0.8;
      }
      
      .carousel-control > .arrow.left {
        transform: translateY(-50%) rotate(180deg);
      }
      
      .carousel-control > .arrow.right {
        right: 50%;
      }
      
      .carousel-indicators {
        position: absolute;
        bottom: 20px;
        left: 50%;
        padding-left: 0;
        margin: 0;
        list-style: none;
        transform: translateX(-50%);
      }
      
      .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 10px;
      }
      
      .carousel-indicators li.active {
        background-color: #ffffff;
      }
      
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
      }
      
      @keyframes left {
        from {
          left: 0;
        }
        to {
          left: -100%;
        }
      }
      
      @keyframes right {
        from {
          left: 100%;
        }
        to {
          left: 0;
        }
      }
      
    
      