html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: black;
}

header {
    width: 100%;
    height: 300px;
    background: url(public/img/cats.jpg) no-repeat;
    background-size: 1500px 320px;
    background-attachment: fixed;
}

.contende {
    width: 100%;
    margin: 4em auto;
    line-height: 30px;
    text-align: justify;
}

.fixed {
    position: fixed;
    width: 100%;
}

.navbar {
    z-index: 2;
}


/* scholbar  tamanho  */

::-webkit-scrollbar {
    width: 9px;
}


/* coloraçao parte do meio */

 ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 145, 0);
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}

.luiz {
    border-style: double;
    border-color: dimgray;
}

.luiz1 {
    color: dimgrey;
}

.luizf {
    margin-left: 30px;
}

.luizjj {
    background-image: url(public/img/texturapreta.jpg);
}

.teste {
    margin-left: 6rem;
}

.junio {
    background-color: gray;
    border-width: 2px;
}

.luu {
    margin: 8px;
}


.list-group-item {


background-color: transparent;

}

.icone{

background-color: rgba(160, 151, 134, 0.548);
padding: 13px;
font-size: 45px;
border-radius: 100px;
margin-left: 2px;

}

.icone2{
    background-color: rgba(160, 151, 134, 0.548);
    padding: 10px;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 2px;
    margin-top: 5px;
    

}
.icone23{


    background-color: rgba(160, 151, 134, 0.548);
    padding: 10px;
    padding-right: 15px;
    padding-left:15px ;
    font-size: 40px;
    border-radius: 20px;
    



}
.icone21{
    background-color: rgba(160, 151, 134, 0.548);
    padding: 4px;
    padding-right: 1px;
    padding-left: 4px;
    font-size: 45px;
    border-radius: 100px;
    margin-left: 2px;
    margin-top: 5px;
    

}







